.jumbotron{
	background-color: yellow;
	color: black;
}

.footer{
	padding: 10px 10px 0 10px;
	background-color: yellow;
	margin-bottom: 0px;
}

.card-contenedor{
	justify-content: center;
}

.card-hotel{
	max-width: 30%;
	flex-direction: column;
	justify-content: space-between;
	flex: 1 30%;
	padding: 2px 5px;
}

.card-hotel .btn{
	width: 100%;
}